@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 1rem;
  background-size: cover;
  text-align: center;
  background-image: url("../public/Background2.jpg");
  font-family: 'Roboto', sans-serif;
}

.calendar > child {
  width: 100%;
}

.MuiTab-wrapper {
  font-size: large;
}

p.MuiTypography-body1 {
  font-size: medium;
}

.loginForm {
  max-width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin-top: 30px;
}

.br {
  margin-top: 5%;
}

#email,
#password {
  margin: 2% 0 2%;
}

#form_button {
  margin-top: 30px;
}
