body {
  margin: 1rem;
  text-align: center;
  background-image: url("../public/Background2.jpg");
  background-size: cover;
}

.options-display {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: auto; 
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
.calendar {
  width: 64%;

}