body {
  margin: 1rem;
  text-align: center;
  background-image: url("../public/Background2.jpg");
  background-size: cover;
}

.calendar > child {
  width: 100%;
}

.MuiTab-wrapper {
  font-size: large;
}

p.MuiTypography-body1 {
  font-size: medium;
}